In [1]:
#импортируем необходимые библиотеки
import pandas as pd
from io import BytesIO
import requests
import numpy as np
from datetime import datetime

Сначала загрузим все имеющиеся исходные таблицы

In [2]:
#встраиваем файл в проект
spreadsheet_id = '1fqNi30sGl-E9_s88K9Xxt9nQXGFsUrvJ7GqQ3WTVSmM'
file_name = 'https://docs.google.com/spreadsheets/d/{}/export?format=csv'.format(spreadsheet_id)
r = requests.get(file_name)
#присваиваем переменной значение датасета
v122 = pd.read_csv(BytesIO(r.content))
v122

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Номер платежного поручения,Дата платежного поручения
0,122,21.03.2023 06:05:19,21.03.2023 06:37:51,"22 117,00","249,92","21 867,08",63467,Покупка,JN78,1,22.03.2023
1,122,21.03.2023 07:41:06,21.03.2023 08:08:48,"9 320,00","105,32","9 214,68",80014,Покупка,XH85,1,22.03.2023
2,122,20.03.2023 23:14:14,21.03.2023 09:13:58,"105 707,00","1 194,49","104 512,51",47214,Покупка,RC99,1,22.03.2023
3,122,21.03.2023 08:56:33,21.03.2023 09:18:09,"5 441,00","61,48","5 379,52",747,Покупка,IY191,1,22.03.2023
4,122,20.03.2023 20:45:31,21.03.2023 09:38:19,"55 327,00","625,20","54 701,80",16261,Покупка,JD135,1,22.03.2023
...,...,...,...,...,...,...,...,...,...,...,...
105,122,22.03.2023 00:44:26,22.03.2023 04:45:59,"61 237,00","691,98","60 545,02",22413,Покупка,DW56,1,22.03.2023
106,122,22.03.2023 01:06:07,22.03.2023 04:46:21,"247 043,00","2 791,59","244 251,41",27135,Покупка,TH137,1,22.03.2023
107,122,22.03.2023 01:22:48,22.03.2023 04:46:25,"28 096,00","317,48","27 778,52",27612,Покупка,OE29,1,22.03.2023
108,122,21.03.2023 22:38:30,22.03.2023 04:50:15,"100 935,00","1 140,57","99 794,43",13836,Покупка,BL18,1,22.03.2023
109,122,22.03.2023 03:59:28,22.03.2023 06:05:28,"309 982,00","3 502,80","306 479,20",31191,Покупка,EO111,1,22.03.2023

In [3]:
#встраиваем файл в проект
spreadsheet_id = '1cduJPzGxBFNfWdIjsiWJpCCplwmGLso9ypQQxPk9ZbQ'
file_name = 'https://docs.google.com/spreadsheets/d/{}/export?format=csv'.format(spreadsheet_id)
r = requests.get(file_name)
#присваиваем переменной значение датасета
v123 = pd.read_csv(BytesIO(r.content))
v123

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Номер платежного поручения,Дата платежного поручения
0,123,20.03.2023 19:05:55,21.03.2023 09:43:17,"76 107,00","860,01","75 246,99",85432,Покупка,LN15,2,22.03.2023
1,123,21.03.2023 13:38:05,21.03.2023 15:09:01,"81 106,00","916,50","80 189,50",28931,Покупка,LG155,2,22.03.2023

In [4]:
#встраиваем файл в проект
spreadsheet_id = '1YEai7hY-pEmP8toX-9oE4ilL4O4m7AHiQht_VKdtsC8'
file_name = 'https://docs.google.com/spreadsheets/d/{}/export?format=csv'.format(spreadsheet_id)
r = requests.get(file_name)
#присваиваем переменной значение датасета
uni = pd.read_csv(BytesIO(r.content))
uni

,OrderID,DateTime,MinDateTime,MaxDateTime,Status,AuthCode,Currency
0,1846-3,22.11.2022 13:32,22.11.2022 13:32,01.03.2023 16:46,Оплачен,JN78,RUB
1,5616-4,07.12.2022 16:14,07.12.2022 16:14,01.03.2023 16:16,Возврат средств,XH85,RUB
2,7755-15,10.12.2022 22:54,10.12.2022 22:54,01.03.2023 16:16,Возврат средств,RC99,RUB
3,3674-3,15.12.2022 21:43,15.12.2022 21:45,01.03.2023 17:52,Оплачен,IY191,RUB
4,7217-18,01.01.2023 23:28,01.01.2023 23:28,01.03.2023 10:06,Оплачен,JD135,RUB
...,...,...,...,...,...,...,...
2990,5898-74,22.03.2023 1:07,22.03.2023 1:12,22.03.2023 1:34,Оплачен,RC782,RUB
2991,3111-36,22.03.2023 1:22,22.03.2023 1:22,22.03.2023 9:34,Оплачен,UE456,RUB
2992,2141-35,22.03.2023 1:22,22.03.2023 1:22,22.03.2023 2:04,Оплачен,BY786,RUB
2993,3443-70,22.03.2023 3:58,22.03.2023 3:58,22.03.2023 6:04,Оплачен,SH721,RUB
2994,6998-5,22.03.2023 7:21,22.03.2023 7:21,22.03.2023 7:38,Оплачен,NW772,RUB

Теперь посмотрим, в каком формате должен быть представлен наш результат"

In [5]:
#встраиваем файл в проект
spreadsheet_id = '1zQ3mbEQX6fUzDQ9ebZqpanSr0Abw7TyztADngBxUz3U'
file_name = 'https://docs.google.com/spreadsheets/d/{}/export?format=csv'.format(spreadsheet_id)
r = requests.get(file_name)
#присваиваем переменной значение датасета
result = pd.read_csv(BytesIO(r.content))
result

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Время обработки,orderID,Комиссия,Сумма к переводу,Номер платежного поручения,Дата платежного поручения
0,122,21.03.2023 06:05:19,21.03.2023 06:37:51,"22 117,00","249,92","21 867,08",63467,Покупка,JN78,22.03.2023 16:33,9888-2,"276,46","21 840,54",1,22.03.2023
1,123,21.03.2023 07:41:06,21.03.2023 08:08:48,"9 320,00","105,32","9 214,68",80014,Покупка,JN79,22.03.2023 16:33,9754-30,"116,50","9 203,50",2,22.03.2023
2,…,…,…,…,…,…,…,…,…,…,…,…,…,…,…

Объединим две выписки в одну таблицу

In [6]:
result1 = pd.concat([v122, v123], ignore_index=True)
result1

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Номер платежного поручения,Дата платежного поручения
0,122,21.03.2023 06:05:19,21.03.2023 06:37:51,"22 117,00","249,92","21 867,08",63467,Покупка,JN78,1,22.03.2023
1,122,21.03.2023 07:41:06,21.03.2023 08:08:48,"9 320,00","105,32","9 214,68",80014,Покупка,XH85,1,22.03.2023
2,122,20.03.2023 23:14:14,21.03.2023 09:13:58,"105 707,00","1 194,49","104 512,51",47214,Покупка,RC99,1,22.03.2023
3,122,21.03.2023 08:56:33,21.03.2023 09:18:09,"5 441,00","61,48","5 379,52",747,Покупка,IY191,1,22.03.2023
4,122,20.03.2023 20:45:31,21.03.2023 09:38:19,"55 327,00","625,20","54 701,80",16261,Покупка,JD135,1,22.03.2023
...,...,...,...,...,...,...,...,...,...,...,...
107,122,22.03.2023 01:22:48,22.03.2023 04:46:25,"28 096,00","317,48","27 778,52",27612,Покупка,OE29,1,22.03.2023
108,122,21.03.2023 22:38:30,22.03.2023 04:50:15,"100 935,00","1 140,57","99 794,43",13836,Покупка,BL18,1,22.03.2023
109,122,22.03.2023 03:59:28,22.03.2023 06:05:28,"309 982,00","3 502,80","306 479,20",31191,Покупка,EO111,1,22.03.2023
110,123,20.03.2023 19:05:55,21.03.2023 09:43:17,"76 107,00","860,01","75 246,99",85432,Покупка,LN15,2,22.03.2023
111,123,21.03.2023 13:38:05,21.03.2023 15:09:01,"81 106,00","916,50","80 189,50",28931,Покупка,LG155,2,22.03.2023

Теперь добавим столбец 'Сумма операции', однако в нем встречаются посторонние знаки, которые не дают возможность перевести строковые значения в float, а потому мы избавимся от них

In [7]:
# Удаляем все, кроме цифр и запятых
result1['Сумма операции'] = result1['Сумма операции'].str.replace(r'[^\d,]', '', regex=True)  
# Заменяем запятые на точки и преобразуем в float
result1['Сумма операции'] = result1['Сумма операции'].str.replace(',', '.', regex=True).astype('float')  
#создаем столбец Комиссия
result1['Комиссия'] = round(result1['Сумма операции']*0.0125, 2)
#выводим результат
result1

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Номер платежного поручения,Дата платежного поручения,Комиссия
0,122,21.03.2023 06:05:19,21.03.2023 06:37:51,22117.0,"249,92","21 867,08",63467,Покупка,JN78,1,22.03.2023,276.46
1,122,21.03.2023 07:41:06,21.03.2023 08:08:48,9320.0,"105,32","9 214,68",80014,Покупка,XH85,1,22.03.2023,116.50
2,122,20.03.2023 23:14:14,21.03.2023 09:13:58,105707.0,"1 194,49","104 512,51",47214,Покупка,RC99,1,22.03.2023,1321.34
3,122,21.03.2023 08:56:33,21.03.2023 09:18:09,5441.0,"61,48","5 379,52",747,Покупка,IY191,1,22.03.2023,68.01
4,122,20.03.2023 20:45:31,21.03.2023 09:38:19,55327.0,"625,20","54 701,80",16261,Покупка,JD135,1,22.03.2023,691.59
...,...,...,...,...,...,...,...,...,...,...,...,...
107,122,22.03.2023 01:22:48,22.03.2023 04:46:25,28096.0,"317,48","27 778,52",27612,Покупка,OE29,1,22.03.2023,351.20
108,122,21.03.2023 22:38:30,22.03.2023 04:50:15,100935.0,"1 140,57","99 794,43",13836,Покупка,BL18,1,22.03.2023,1261.69
109,122,22.03.2023 03:59:28,22.03.2023 06:05:28,309982.0,"3 502,80","306 479,20",31191,Покупка,EO111,1,22.03.2023,3874.78
110,123,20.03.2023 19:05:55,21.03.2023 09:43:17,76107.0,"860,01","75 246,99",85432,Покупка,LN15,2,22.03.2023,951.34
111,123,21.03.2023 13:38:05,21.03.2023 15:09:01,81106.0,"916,50","80 189,50",28931,Покупка,LG155,2,22.03.2023,1013.82

In [8]:
#создаем столбец Сумма к переводу
result1['Сумма к переводу'] = result1['Сумма операции'] - result1['Комиссия']
#выводим результат
result1

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Номер платежного поручения,Дата платежного поручения,Комиссия,Сумма к переводу
0,122,21.03.2023 06:05:19,21.03.2023 06:37:51,22117.0,"249,92","21 867,08",63467,Покупка,JN78,1,22.03.2023,276.46,21840.54
1,122,21.03.2023 07:41:06,21.03.2023 08:08:48,9320.0,"105,32","9 214,68",80014,Покупка,XH85,1,22.03.2023,116.50,9203.50
2,122,20.03.2023 23:14:14,21.03.2023 09:13:58,105707.0,"1 194,49","104 512,51",47214,Покупка,RC99,1,22.03.2023,1321.34,104385.66
3,122,21.03.2023 08:56:33,21.03.2023 09:18:09,5441.0,"61,48","5 379,52",747,Покупка,IY191,1,22.03.2023,68.01,5372.99
4,122,20.03.2023 20:45:31,21.03.2023 09:38:19,55327.0,"625,20","54 701,80",16261,Покупка,JD135,1,22.03.2023,691.59,54635.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,122,22.03.2023 01:22:48,22.03.2023 04:46:25,28096.0,"317,48","27 778,52",27612,Покупка,OE29,1,22.03.2023,351.20,27744.80
108,122,21.03.2023 22:38:30,22.03.2023 04:50:15,100935.0,"1 140,57","99 794,43",13836,Покупка,BL18,1,22.03.2023,1261.69,99673.31
109,122,22.03.2023 03:59:28,22.03.2023 06:05:28,309982.0,"3 502,80","306 479,20",31191,Покупка,EO111,1,22.03.2023,3874.78,306107.22
110,123,20.03.2023 19:05:55,21.03.2023 09:43:17,76107.0,"860,01","75 246,99",85432,Покупка,LN15,2,22.03.2023,951.34,75155.66
111,123,21.03.2023 13:38:05,21.03.2023 15:09:01,81106.0,"916,50","80 189,50",28931,Покупка,LG155,2,22.03.2023,1013.82,80092.18

In [9]:
#объединяем таблицы и добавляем столбец Код авторизации
uni['Код авторизации']= uni['AuthCode']
data= result1.merge(uni[['Код авторизации','OrderID']], on='Код авторизации')

In [10]:
#Добавляем столбец с текущим временем в формате 'd. m. Y H:M'
data['Время обработки'] = datetime.now().strftime('%d. %m. %Y %H:%M')
data

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Номер платежного поручения,Дата платежного поручения,Комиссия,Сумма к переводу,OrderID,Время обработки
0,122,21.03.2023 06:05:19,21.03.2023 06:37:51,22117.0,"249,92","21 867,08",63467,Покупка,JN78,1,22.03.2023,276.46,21840.54,1846-3,31. 10. 2023 00:32
1,122,21.03.2023 07:41:06,21.03.2023 08:08:48,9320.0,"105,32","9 214,68",80014,Покупка,XH85,1,22.03.2023,116.50,9203.50,5616-4,31. 10. 2023 00:32
2,122,20.03.2023 23:14:14,21.03.2023 09:13:58,105707.0,"1 194,49","104 512,51",47214,Покупка,RC99,1,22.03.2023,1321.34,104385.66,7755-15,31. 10. 2023 00:32
3,122,21.03.2023 08:56:33,21.03.2023 09:18:09,5441.0,"61,48","5 379,52",747,Покупка,IY191,1,22.03.2023,68.01,5372.99,3674-3,31. 10. 2023 00:32
4,122,20.03.2023 20:45:31,21.03.2023 09:38:19,55327.0,"625,20","54 701,80",16261,Покупка,JD135,1,22.03.2023,691.59,54635.41,7217-18,31. 10. 2023 00:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,122,22.03.2023 01:22:48,22.03.2023 04:46:25,28096.0,"317,48","27 778,52",27612,Покупка,OE29,1,22.03.2023,351.20,27744.80,3082-1,31. 10. 2023 00:32
108,122,21.03.2023 22:38:30,22.03.2023 04:50:15,100935.0,"1 140,57","99 794,43",13836,Покупка,BL18,1,22.03.2023,1261.69,99673.31,8432-18,31. 10. 2023 00:32
109,122,22.03.2023 03:59:28,22.03.2023 06:05:28,309982.0,"3 502,80","306 479,20",31191,Покупка,EO111,1,22.03.2023,3874.78,306107.22,1371-6,31. 10. 2023 00:32
110,123,20.03.2023 19:05:55,21.03.2023 09:43:17,76107.0,"860,01","75 246,99",85432,Покупка,LN15,2,22.03.2023,951.34,75155.66,8404-8,31. 10. 2023 00:32
111,123,21.03.2023 13:38:05,21.03.2023 15:09:01,81106.0,"916,50","80 189,50",28931,Покупка,LG155,2,22.03.2023,1013.82,80092.18,3507-16,31. 10. 2023 00:32

In [11]:
#меняем порядок столбцев
data = data[['Номер устройства', 'Дата операции', 'Дата обработки', 'Сумма операции', 'Торговая уступка', 'К перечислению', 'РРН', 'Тип операции', 'Код авторизации', 'Время обработки', 'OrderID', 'Комиссия', 'Сумма к переводу', 'Номер платежного поручения', 'Дата платежного поручения']]
data

,Номер устройства,Дата операции,Дата обработки,Сумма операции,Торговая уступка,К перечислению,РРН,Тип операции,Код авторизации,Время обработки,OrderID,Комиссия,Сумма к переводу,Номер платежного поручения,Дата платежного поручения
0,122,21.03.2023 06:05:19,21.03.2023 06:37:51,22117.0,"249,92","21 867,08",63467,Покупка,JN78,31. 10. 2023 00:32,1846-3,276.46,21840.54,1,22.03.2023
1,122,21.03.2023 07:41:06,21.03.2023 08:08:48,9320.0,"105,32","9 214,68",80014,Покупка,XH85,31. 10. 2023 00:32,5616-4,116.50,9203.50,1,22.03.2023
2,122,20.03.2023 23:14:14,21.03.2023 09:13:58,105707.0,"1 194,49","104 512,51",47214,Покупка,RC99,31. 10. 2023 00:32,7755-15,1321.34,104385.66,1,22.03.2023
3,122,21.03.2023 08:56:33,21.03.2023 09:18:09,5441.0,"61,48","5 379,52",747,Покупка,IY191,31. 10. 2023 00:32,3674-3,68.01,5372.99,1,22.03.2023
4,122,20.03.2023 20:45:31,21.03.2023 09:38:19,55327.0,"625,20","54 701,80",16261,Покупка,JD135,31. 10. 2023 00:32,7217-18,691.59,54635.41,1,22.03.2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,122,22.03.2023 01:22:48,22.03.2023 04:46:25,28096.0,"317,48","27 778,52",27612,Покупка,OE29,31. 10. 2023 00:32,3082-1,351.20,27744.80,1,22.03.2023
108,122,21.03.2023 22:38:30,22.03.2023 04:50:15,100935.0,"1 140,57","99 794,43",13836,Покупка,BL18,31. 10. 2023 00:32,8432-18,1261.69,99673.31,1,22.03.2023
109,122,22.03.2023 03:59:28,22.03.2023 06:05:28,309982.0,"3 502,80","306 479,20",31191,Покупка,EO111,31. 10. 2023 00:32,1371-6,3874.78,306107.22,1,22.03.2023
110,123,20.03.2023 19:05:55,21.03.2023 09:43:17,76107.0,"860,01","75 246,99",85432,Покупка,LN15,31. 10. 2023 00:32,8404-8,951.34,75155.66,2,22.03.2023
111,123,21.03.2023 13:38:05,21.03.2023 15:09:01,81106.0,"916,50","80 189,50",28931,Покупка,LG155,31. 10. 2023 00:32,3507-16,1013.82,80092.18,2,22.03.2023

Теперь дело за малым - сохраняем нашу результрующую таблицу на компьютер в формате xlsx

In [12]:
data.to_excel("test.xlsx", index=False)